{{ define "main" }}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center" style="background: url(https://cdn.wallpapersafari.com/43/41/RCXfgB.png); background-size: cover;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Dev</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Data Scientist - Engineer - Analyst</p>
    </div>
</header>

<!-- About Section-->
<section class="page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-question"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I simply love to create. When I was young I used to create games, draw and write books. Development is also a way to express yourself and create, in an abstract way.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Development combines the rigor of math and the empirical way of coding into a single domain. Let's try out new stuff today !</p></div>
        </div>
    </div>
</section>
{{ end }}