{{ define "main" }}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center" style="background: url(https://cdn.wallpapersafari.com/43/41/RCXfgB.png); background-size: cover;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Dev</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi bi-code-slash"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Data Scientist - Engineer - Analyst</p>
    </div>
</header>

<!-- About Section-->
<section class="page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">{{ $.Param "about.title" }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi bi-questio-lg"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">{{ $.Param "about.content1" }}</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">{{ $.Param "about.content2" }}</p></div>
        </div>
    </div>
</section>
{{ end }}