{{ define "main" }}

<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="bg-primary active" aria-current="true" aria-label="Slide 1"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(/img/ecology/carousel/art-ipcc-curv.jpeg); background-size: cover; background-position: center;">
          <div class="carousel-caption text-primary">
            <h5><a style="text-decoration: none;" href="https://www.jillpelto.com/currents/" target="_blank"><i>Currents</i>, Watercolor And Colored Pencil, 2020</a></h5>
            <p>Jill Pelto climate change artist</p>
          </div>
        </div>
      </div>
  </header>

    <!-- Timeline Section-->
    <section class="page-section bg-white text-secondary mb-0" id="timeline">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">Timelines</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="bi bi-calendar2-week-fill"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <p class="text-center">
              Timelines are a great and easy way to visualize the Anthropocene epoch and its systemic consequences: global warming, biodiversity eradication, energy concerns, ressources consumption and more.
            </p>

            <p class="text-center"><i>"C'est d'âme qu'il faut changer, non de climat"</i> - Sénèque</p>

            <ul class="timeline" id="accordion">
                {{ range (where .Site.Pages "Type" "timelineEvent").ByParam "Order" }}
                <li class="timeline-event">
                    <label class="timeline-event-icon"></label>
                    <div class="timeline-event-copy">
                      <a class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .Params.id }}" aria-expanded="false" aria-controls="collapseOne">
                        <p class="timeline-event-thumbnail">{{ .Params.Year }}</p>
                        <p class="timeline-event-title">{{ .Title }}</p>
                      </a>
                      <div id="{{ .Params.id }}" class="collapse" data-bs-parent="#accordion">
                        <h3>{{ .Title }}</h3>
                        {{ .Content }}
                      </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>


    <!-- Bibliography Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Bibliography</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-book"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <p class="text-center">
              Reading is a great way to get informed and involved in the systemic concern we must all face.
              It is not always easy to know where to start : here are some propositions.
            </p>

            <p class="mb-5 text-center"><i>"It is no measure of health to be well adjusted to a profoundly sick society."</i> - Jiddu Krishnamurti</p>

            <div class="card-columns text-primary">
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/ipcc-report.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">IPCC reports</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Intergovernmental Panel on Climate Change (IPCC)</h6>
                  <p class="card-text">The most important and reliable scientific source about climate change.</p>
                  <a href="https://www.ipcc.ch/reports/" target="_blank" class="card-link">Reports link</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/thelimitstogrowth.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The Limits to Growth</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Dennis Meadows, Donella Meadows and Jørgen Randers - 1972</h6>
                  <p class="card-text">A classic and a must-read. New editions have been published in 1992, 2004 and 2012.</p>
                  <a href="http://www.donellameadows.org/wp-content/userfiles/Limits-to-Growth-digital-scan-version.pdf" target="_blank" class="card-link">Online PDF (1992 edition)</a>
                </div>
              </div>                    
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/thischangeseverything.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">This changes everything</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Naomi Klein - 2014</h6>
                  <p class="card-text">This is a must-read in order to understand the systemic causes and consequences in the Anthropocene</p>
                  <a href="https://archive.org/details/pdfy-Skb-ch_k7psDm90Q/mode/2up" target="_blank" class="card-link">Online PDF</a>                        
                </div>
              </div>                    
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/donteventhinkaboutit.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Don't even think about it</h5>
                  <h6 class="card-subtitle mb-2 text-muted">George Marshall - 2014</h6>
                  <p class="card-text">A psychological approach to the question : why don't we care about climate change ?</p>
                  <a href="https://theclimatecenter.org/wp-content/uploads/2017/03/final_Dont-Even-Think-About-It-Notes.pdf" target="_blank" class="card-link">Book extracts</a>                        
                </div>
              </div>                     
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/discoveryglobalwarming.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The Discovery of Global Warming</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Spencer R. Weart - 2003</h6>
                  <p class="card-text">History about how Global Warming was discovered.</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/earthmasters.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Earthmasters</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Clive Hamilton - 2013</h6>
                  <p class="card-text">Deconstruct the myth of geo-engineering solutions and explains how some people want to play god with the climate.</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/merchantsofdoubts.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Merchants of Doubt</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Naomi Oreskes & Erik M. Conway - 2015</h6>
                  <p class="card-text">How a Handful of Scientists Obscured the Truth on Issues from Tobacco Smoke to Global Warming.</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/gouvernerleclimat.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Gouverner le climat ?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Stefan C. Aykut & Amy Dahan - 2014</h6>
                  <p class="card-text">This is a great book that goes through the history of all the international conferences about climate change and shows how and why things have not evolved.</p>
                </div>
              </div>  
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/ornoir.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Or noir</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Matthieu Auzanneau - 2015</h6>
                  <p class="card-text">An essay about oil history, from its discovery to its importance in today's civilization in all domains: industrial of course but also military, political and economical.</p>
                </div>
              </div> 
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/humaniteenperilvironsdebord.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">L'Humanité en Préril</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Fred Vargas - 2019</h6>
                  <p class="card-text">Fred Vargas is mostly well-known for her crime novels however she wrote a transparent and really easy to read (even for neophytes) book about the systemic problems due to Anthropocene. The book is quite naive and its approach is sometimes confusing but it at least informs people about climate change, biodiversity destruction, energy and more.</p>
                </div>
              </div> 
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/dormeztranquillesjusquen2100.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Dormez tranquilles jusqu'en 2100: Et autres malentendus sur le climat et l'énergie</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Jean-Marc Jancovici - 2015</h6>
                  <p class="card-text">A book har to read in my opinion as it goes in all directions, left and right, with a confusing structure. I would better recommend Jean-Marc Jancovici's conferences (available on Youtube for example): he is clearer orally.</p>
                  <a href="https://jancovici.com/publications-et-co/livres/dormez-tranquilles-jusquen-2100/" target="_blank" class="card-link">Personal Website</a>       
                  <a href="https://www.youtube.com/watch?v=M2wI25p_7GA" target="_blank" class="card-link">Conference</a>                 
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/penserladecroissance.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Penser la décroissance</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Agnès Sinaï - 2013</h6>
                  <p class="card-text">A book written by different specialists where each has its own chapter. There are two books that follow after this one. You can find the links below.</p>
                  <li><a href="https://www.google.fr/books/edition/Penser_la_d%C3%A9croissance/QYQ0DwAAQBAJ?hl=fr&gbpv=1&printsec=frontcover" target="_blank" class="card-link">Penser la décroissance</a></li>     
                  <li><a class="card-link" target="_blank" href="https://www.google.fr/books/edition/Economie_de_l_apr%C3%A8s_croissance/56aOCgAAQBAJ?hl=fr&gbpv=1&printsec=frontcover">Economie de l'après croissance</a></li>
                  <li><a class="card-link" target="_blank" href="https://books.google.ch/books?id=iQTNDgAAQBAJ&printsec=frontcover&hl=fr#v=onepage&q&f=false">Gouverner la décroissance</a></li>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/deuxdegres.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Deux degrés</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Edwin Zaccai - 2019</h6>
                  <p class="card-text">Another book on the climate change subject: it does not provide more information if you are already informed. It nonetheless offers a different point of view about it.</p>
                  <a href="https://www.google.fr/books/edition/Deux_degr%C3%A9s/94WWDwAAQBAJ?hl=fr&gbpv=1&printsec=frontcover" target="_blank" class="card-link">Book preview</a>                        
                </div>
              </div>  
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/devantleffondrement.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Devant l'effondrement</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Yves Cochet - 2019</h6>
                  <p class="card-text">A hard-to-read book because of the conclusion it suggests : a collapse of our society probably in 2020 and certain before 2030.</p>
                  <a href="https://bibliotheques.wallonie.be/doc_num.php?explnum_id=5048" target="_blank" class="card-link">Book preview</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/vivremieuxsocieteecolo.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vivre mieux vers une société écologique</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Europe écologie les Verts - 2012</h6>
                  <p class="card-text">In my opinion this book's content is a bit naive however it provides some good information about what the political party "Europe Ecologie les Verts" have in mind and what changes they want to operate.</p>
                  <a href="https://www.eelv.fr/bienvivre/" target="_blank" class="card-link">EELV Website</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/whyclimatechangedoesnotscareusyet.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Why Climate Change does not scare us yet ?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Center for Research on Environmental Decisions - 2006</h6>
                  <p class="card-text">A psychological approach to answer the question : Why Climate Change does not scare us yet ?</p>
                  <a href="https://www.researchgate.net/publication/226378293_Experience-Based_and_Description-Based_Perceptions_of_Long-Term_Risk_Why_Global_Warming_Does_Not_Scare_Us_Yet#read" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/areweonthebrinkofapronuncedglobalwarming.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Are we on the brink of a pronunced global warming ?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Science - 1975</h6>
                  <p class="card-text">An old Science report that predicted the temperature rise levels for years to come back in 1975. Its predictions are correct and it further explores what may go wrong in the case of a pronunced global warming.</p>
                  <a href="https://news.climate.columbia.edu/files/2009/10/broeckerglobalwarming75.pdf" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/psychologyofclimatechangecommunication.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The Psychology of Climate Change Communication</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Center for Research on Environmental Decisions - 2009</h6>
                  <p class="card-text">A great psychological guide for anybody interested in enhancing its communication skills about climate change and more. </p>
                  <a href="http://guide.cred.columbia.edu/pdfs/CREDguide_full-res.pdf" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/beworriedbeveryworried.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Be Worried, Be Very Worried</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Time Magazine - 2006</h6>
                  <p class="card-text">Earth at the Tipping Point: Global Warming Heats Up</p>
                  <a href="http://content.time.com/time/magazine/article/0,9171,1176980,00.html" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/approachingastateshiftinearthbiosphere.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Approaching a state shift in Earth's biosphere</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Nature - 2012</h6>
                  <p class="card-text">Review evidence that the Global Ecosystem is approaching a planetary-scale critical transition as a result of human influence</p>
                  <a href="https://www.researchgate.net/publication/235752538_Approaching_a_state_shift_in_Earth's_biosphere" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/planetaryboundaries.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Planetary Boundaries</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Science - 2015</h6>
                  <p class="card-text">Guiding Human Development on a Changing Planet</p>
                  <a href="https://www.researchgate.net/publication/270898819_'Planetary_Boundaries_Guiding_Human_Development_on_a_Changing_Planet'#read" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/trajectoriesearthsystem.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Trajectories of the Earth System in the Anthropocene</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Proceedings of the National academy of Sciences - 2018</h6>
                  <p class="card-text">We explore the risk that self-reinforcing feedbacks could push the Earth System toward a planetarythreshold that, if crossed, could prevent stabilization of the climate at intermediate temperature rises andcause continued warming on a“Hothouse Earth”pathway even as human emissions are reduced.</p>
                  <a href="https://www.pnas.org/doi/epdf/10.1073/pnas.1810141115" target="_blank" class="card-link">Read report</a>                        
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/img/ecology/biblio/agedeslowtech.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Age des low tech</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Philippe Bihouix - 2014</h6>
                  <p class="card-text">A focus on the ressource part of the systemic concern in the Anthropocene in particular about metals and rare ressources used in our High Technologies.</p>
                  <a href="https://www.google.fr/books/edition/L_%C3%82ge_des_low_tech_Vers_une_civilisatio/W5-jAwAAQBAJ?hl=fr&gbpv=1&printsec=frontcover" target="_blank" class="card-link">Book preview</a>                        
                </div>
              </div>           
            </div>                    
          </div>
        </div>
    </section>

    <!-- Video Section-->
    <section class="page-section bg-white text-secondary mb-0" id="about">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase">Videos</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="bi bi-camera-reels-fill"></i></div>
              <div class="divider-custom-line"></div>
          </div>

          <p class="text-center">
            Watching films, series, documentaries, conferences is another way to learn more about the systemic concern. I would rather suggest conferences as the content is more transparent, the exchange more human and overall the content is more factual and not catastrophic.
          </p>

          <p class="mb-5 text-center"><i>"A clever person solves a problem. A wise person avoids it."</i> - Albert Einstein</p>

          <!-- Conferences -->
          <h3 class="mt-3 mb-3 text-center"><i class="bi bi-person-video3"></i> Conferences & Interviews</h3>
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/FoCN8vFPMz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/LCZQZMpfAWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/8Lhl6zE30z4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/9X4bV9fYkfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/TObfFD_ac8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/tWLkvzxs3s8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/kSVA5Q79Urc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/JjoX0nY38hA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
          </div>

          <!-- Documentaries -->
          <h3 class="mt-3 mb-3 text-center"><i class="bi bi-play-btn-fill"></i> Documentaries</h3>
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/GZ4izGzj9r0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/7IBG2V98IBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/YQhflH4alO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/VsU5ZG_BPVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
          </div>

          <!-- Film & Series -->
          <h3 class="mt-3 mb-3 text-center"><i class="bi bi-film"></i> Films & Series</h3>
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/RbIxYm3mKzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3">
              <iframe class="iframe-compo" src="https://www.youtube.com/embed/vLa-HhBpgc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
          </div>

      </div>
    </section>

    <!-- Action Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase">Actions</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="bi bi-person-check-fill"></i></div>
              <div class="divider-custom-line"></div>
          </div>

          <p class="text-center"><i>"Never deny the power of a small group of committed individuals to change the world. Indeed that is the only thing that ever has."</i> - Margaret Mead</p>

          <!-- Actions -->
          <div class="card-columns text-primary">
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/blast.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Blast, independent media</h5>
                <h6 class="card-subtitle mb-2 text-muted">Different actions to consider</h6>
                <p class="card-text">Below is link to a video from an independent media that proposes actions to fight the crisis. The description of the video provides more possible actions.</p>
                <a href="https://www.youtube.com/watch?v=8BXyHtO2mzc" target="_blank" class="card-link">Blast, Ecological Actions video</a>
              </div>
            </div>              
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/climatefresk.webp" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Climate Fresk</h5>
                <h6 class="card-subtitle mb-2 text-muted">Teach others about Climate Change</h6>
                <p class="card-text">Like I and lots of people, you can become a facilitator to animate workshops on climate change!</p>
                <a href="https://climatefresk.org/" target="_blank" class="card-link">Climate Fresk Website</a>                        
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/reduce-your-carbon-footprint-logo.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Reduce your carbon footprint</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calculate your footprint first</h6>
                <p class="card-text">Currently the french mean is around 10t CO2 per year but let's reach 2t CO2 per year !</p>
                <a href="https://nosgestesclimat.fr/" target="_blank" class="card-link">French</a>
                <a href="https://www.carbonfootprint.com/calculator.aspx" target="_blank" class="card-link">English</a>                                               
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/shiftyourjob.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Shift your job</h5>
                <h6 class="card-subtitle mb-2 text-muted">Play a role for change</h6>
                <p class="card-text">A way to see what job could have an direct or indirect impact on the revolution.</p>
                <a href="https://shiftyourjob.org/" target="_blank" class="card-link">Shift your Job Website</a>                        
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/wwf.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">World Wide Fund for Nature</h5>
                <h6 class="card-subtitle mb-2 text-muted">Donate to or Join an International NGO</h6>
                <p class="card-text">As the world’s leading conservation organization, WWF works in nearly 100 countries to tackle the most pressing issues at the intersection of nature, people, and climate.</p>
                <a href="https://www.worldwildlife.org/" target="_blank" class="card-link">WWF Website</a>                        
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/greenpeace.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Greenpeace</h5>
                <h6 class="card-subtitle mb-2 text-muted">Donate to or Join an International NGO</h6>
                <p class="card-text">Greenpeace is a network of independent organisations, which uses peaceful, creative confrontation to expose global environmental problems, and develop solutions for a green and peaceful future.</p>
                <a href="https://www.greenpeace.org/international/" target="_blank" class="card-link">Greenpeace Website</a>                        
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/momentum-institute.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Momentum Institute</h5>
                <h6 class="card-subtitle mb-2 text-muted">Donate or engage for resilience</h6>
                <p class="card-text">The main purpose of this association is to assemble contributors around the issues of transition, degrowth and resilience.</p>
                <a href="https://www.institutmomentum.org/language/en/" target="_blank" class="card-link">Momentum Institut Website</a>                        
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/img/ecology/actions/ipcc.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">IPCC</h5>
                <h6 class="card-subtitle mb-2 text-muted">Participate in the work of the IPCC</h6>
                <p class="card-text">Hundreds of experts in different fields volunteer their time and expertise to produce IPCC reports. Thousands more contribute to the review process and to the literature and other knowledge that are assessed in IPCC reports. These scientists are not paid by the IPCC.</p>
                <a href="https://www.ipcc.ch/about/engage_with_the_ipcc/" target="_blank" class="card-link">Engage with IPCC Website</a>                        
              </div>
            </div>
          </div>
      </div>
    </section>

{{ end }}