{{ define "main" }}

<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(/img/magic/carousel/fan.jpg); background-size: cover; background-position: center;">
          <div class="carousel-caption">
            <h5><a style="text-decoration: none;" href="#engage">{{ $.Param "carousel.carousel1.info" }}</a></h5>
            <p>{{ $.Param "carousel.carousel1.subinfo" }}</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(/img/magic/carousel/xcm.jpg); background-size: cover; background-position: center;">
          <div class="carousel-caption">
            <h5><a style="text-decoration: none;" href="#talkAboutMe">{{ $.Param "carousel.carousel3.info" }}</a></h5>
            <p>{{ $.Param "carousel.carousel3.subinfo" }}</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(/img/magic/carousel/fan-venin.jpg); background-size: cover; background-position: center;">
          <div class="carousel-caption">
            <h5><a style="text-decoration: none;" href="#experiences">{{ $.Param "carousel.carousel2.info" }}</a></h5>
            <p>{{ $.Param "carousel.carousel2.subinfo" }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
  </header>

  <!-- talkAboutMe Section-->
  <section class="page-section bg-white text-secondary mb-0" id="talkAboutMe">
    <div class="container">
      <!-- talkAboutMe Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary">{{ $.Param "theyTalkAboutMe.title"}}</h2>

      <!-- Icon Divider-->
      <div class="divider-custom mb-5">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="bi bi-play-btn-fill"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      
      <!-- talkAboutMe video-->
      <div class="text-center">
        <iframe class="video-magic" src="https://www.youtube.com/embed/wo8NeQsUL9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <!-- Experiences Section-->
  <section class="page-section bg-secondary text-white mb-0" id="experiences">
    <div class="container">
      <!-- Experiences Heading-->
      <h2 class="page-section-heading text-center text-uppercase">{{ $.Param "experiences.title"}}</h2>

      <!-- Icon Divider-->
      <div class="divider-custom divider-light mb-5">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="bi bi-suit-spade-fill"></i>
          </div>
          <div class="divider-custom-line"></div>
      </div>

      <!-- Experiences Content-->
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-xl-6 col-lg-6 col-md-6 mb-3">
            <img src="/img/magic/experiences/magic-me-fan.jpg" alt="responsive webite" class="img-fluid rounded mb-3">
            <h2>{{ $.Param "experiences.teaching.title" }}</h2>
            {{ $.Param "experiences.teaching.info" | safeHTML }}
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <h2>{{ $.Param "experiences.cardArtist.title" }}</h2>
            {{ $.Param "experiences.cardArtist.info" | safeHTML }}
            <div>
              <img class="img-fluid rounded" src="/img/magic/experiences/magic-me-spring.jpg">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Engage Section-->
  <section class="page-section bg-white text-secondary mb-0" id="engage">
      <div class="container">
          <!-- Engage Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase">{{ $.Param "engage.title" }}</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="bi bi-person-check-fill"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Engage Section Content-->
          <div class="lead text-center text-secondary">
            <li>{{ $.Param "engage.list.exp" | safeHTML}}</li>
            <li>{{ $.Param "engage.list.events" | safeHTML }}</li>
            <li>{{ $.Param "engage.list.languages" | safeHTML }}</li>
          </div>
      </div>
  </section>

{{ end }}