{{ define "main" }}
  
  <!-- Masthead-->
  <header class="masthead text-center">
    <div class="container d-flex align-items-center flex-column text-secondary">
        <!-- Masthead 404 Image-->
        <img class="masthead-avatar" src="/img/404-error-icon.jpg"/>
        <!-- Masthead Heading-->
        <h1>Error 404 Not Found</h1>
        <p>The page you requested cannot be found.</p>
        <a class="btn btn-outline-secondary text-uppercase" href="{{ .Site.Home.RelPermalink }}">
          Return to the home page
        </a>
    </div>
  </header>
{{ end }}