{{.Inner}}
<svg class="recharts-surface" width="100%" height="100%" viewBox="0 0 756 380">
    <title></title>
    <desc></desc>
    <defs>
        <clipPath id="recharts13-clip"><rect x="80" y="20" height="321" width="646"></rect></clipPath>
    </defs>
    <g class="recharts-cartesian-grid">
        <g class="recharts-cartesian-grid-horizontal">
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="341" x2="726" y2="341"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="260.75" x2="726" y2="260.75"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="180.5" x2="726" y2="180.5"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="100.25" x2="726" y2="100.25"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="20" x2="726" y2="20"></line>
        </g>
        <g class="recharts-cartesian-grid-vertical">
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="241.5" y1="20" x2="241.5" y2="341"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="564.5" y1="20" x2="564.5" y2="341"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="80" y1="20" x2="80" y2="341"></line>
            <line stroke-dasharray="3 3" stroke="#ccc" fill="none" x="80" y="20" width="646" height="321" offset="[object Object]" x1="726" y1="20" x2="726" y2="341"></line>
        </g>
    </g>
    <g class="recharts-layer recharts-cartesian-axis recharts-xAxis xAxis">
        <line orientation="bottom" width="646" height="30" x="80" y="341" class="recharts-cartesian-axis-line" stroke="#666" fill="none" x1="80" y1="341" x2="726" y2="341"></line>
        <g class="recharts-cartesian-axis-ticks">
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="bottom" width="646" height="30" x="80" y="341" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="241.5" y1="347" x2="241.5" y2="341"></line>
                <text orientation="bottom" width="646" height="30" x="241.5" y="349" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle">
                    <tspan x="241.5" dy="0.71em">Carbon bombs</tspan>
                </text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="bottom" width="646" height="30" x="80" y="341" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="564.5" y1="347" x2="564.5" y2="341"></line>
                <text orientation="bottom" width="646" height="30" x="564.5" y="349" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle">
                    <tspan x="564.5" dy="0.71em">Remaining 1.5°C budget</tspan>
                </text>
            </g>
        </g>
    </g>
    <g class="recharts-layer recharts-cartesian-axis recharts-yAxis yAxis">
        <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-line" stroke="#666" fill="none" x1="80" y1="20" x2="80" y2="341"></line>
        <g class="recharts-cartesian-axis-ticks">
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="74" y1="341" x2="80" y2="341"></line>
                <text orientation="left" width="60" height="321" x="72" y="341" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="72" dy="0.355em">0</tspan></text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="74" y1="260.75" x2="80" y2="260.75"></line>
                <text orientation="left" width="60" height="321" x="72" y="260.75" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="72" dy="0.355em">300</tspan></text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="74" y1="180.5" x2="80" y2="180.5"></line>
                <text orientation="left" width="60" height="321" x="72" y="180.5" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="72" dy="0.355em">600</tspan></text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="74" y1="100.25" x2="80" y2="100.25"></line>
                <text orientation="left" width="60" height="321" x="72" y="100.25" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="72" dy="0.355em">900</tspan></text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
                <line orientation="left" width="60" height="321" x="20" y="20" class="recharts-cartesian-axis-tick-line" stroke="#666" fill="none" x1="74" y1="20" x2="80" y2="20"></line>
                <text orientation="left" width="60" height="321" x="72" y="20" stroke="none" fill="#666" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="72" dy="0.355em">1200</tspan></text>
            </g>
        </g>
        <text offset="5" x="25" y="180.5" fill="#808080" transform="rotate(-90, 25, 180.5)" class="recharts-text recharts-label" text-anchor="start"><tspan x="25" dy="0.355em">GtCO₂</tspan></text>
    </g>
    <g class="recharts-layer recharts-bar">
        <g class="recharts-layer recharts-bar-rectangles">
            <g class="recharts-layer">
                <g class="recharts-layer recharts-bar-rectangle">
                    <path fill="#b9bfeb" width="258" height="236.29663704047488" x="112.3" y="104.70336295952511" radius="0" class="recharts-rectangle" d="M 112.3,104.70336295952511 h 258 v 236.29663704047488 h -258 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle"></g>
            </g>
        </g>
        <g class="recharts-layer"></g>
    </g>
    <g class="recharts-layer recharts-bar">
        <g class="recharts-layer recharts-bar-rectangles">
            <g class="recharts-layer">
                <g class="recharts-layer recharts-bar-rectangle">
                    <path fill="#ac7b7d" width="258" height="78.79753406587251" x="112.3" y="25.9058288936526" radius="0" class="recharts-rectangle" d="M 112.3,25.9058288936526 h 258 v 78.79753406587251 h -258 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle"></g>
            </g>
        </g>
        <g class="recharts-layer"></g>
    </g>
    <g class="recharts-layer recharts-bar">
        <g class="recharts-layer recharts-bar-rectangles">
            <g class="recharts-layer">
                <g class="recharts-layer recharts-bar-rectangle">
                    <path fill="#a0a0a0" width="258" height="1.1637585440249971" x="112.3" y="24.742070349627603" radius="0" class="recharts-rectangle" d="M 112.3,24.742070349627603 h 258 v 1.1637585440249971 h -258 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle"></g>
            </g>
        </g>
        <g class="recharts-layer"></g>
    </g>
    <g class="recharts-layer recharts-bar">
        <g class="recharts-layer recharts-bar-rectangles">
            <g class="recharts-layer">
                <g class="recharts-layer recharts-bar-rectangle"></g>
                <g class="recharts-layer recharts-bar-rectangle">
                    <path fill="#96AC7B" width="258" height="106.99999999999997" x="435.3" y="234.00000000000003" radius="0" class="recharts-rectangle" d="M 435.3,234.00000000000003 h 258 v 106.99999999999997 h -258 Z"></path>
                </g>
            </g>
        </g>
        <g class="recharts-layer"></g>
    </g>
    <g class="recharts-layer recharts-bar">
        <g class="recharts-layer recharts-bar-rectangles">
            <g class="recharts-layer">
                <g class="recharts-layer recharts-bar-rectangle">
                    <rect x="112.3" y="24.742070349627603" height="0" width="258" stroke="#E74260" fill="none" stroke-width="2" stroke-dasharray="15" clip-path="polygon(0 0, 100% 0, 100% calc(100% - 2px), 0 calc(100% - 2px))"></rect>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                    <rect
                        x="435.3"
                        y="207.24999999999997"
                        height="26.750000000000057"
                        width="258"
                        stroke="#E74260"
                        fill="none"
                        stroke-width="2"
                        stroke-dasharray="15"
                        clip-path="polygon(0 0, 100% 0, 100% calc(100% - 2px), 0 calc(100% - 2px))"
                    ></rect>
                </g>
            </g>
        </g>
        <g class="recharts-layer"></g>
    </g>
</svg>

<ul class="recharts-default-legend" style="padding: 0px; margin: 0px; text-align: center;">
    <li class="recharts-legend-item legend-item-0" style="display: inline-block; margin-right: 10px;">
        <svg class="recharts-surface" width="14" height="14" viewBox="0 0 32 32" style="display: inline-block; vertical-align: middle; margin-right: 4px;">
            <title></title>
            <desc></desc>
            <path stroke="none" fill="#b9bfeb" d="M0,4h32v24h-32z" class="recharts-legend-icon"></path>
        </svg>
        <span class="recharts-legend-item-text" style="color: rgb(185, 191, 235);">Operating</span>
    </li>
    <li class="recharts-legend-item legend-item-1" style="display: inline-block; margin-right: 10px;">
        <svg class="recharts-surface" width="14" height="14" viewBox="0 0 32 32" style="display: inline-block; vertical-align: middle; margin-right: 4px;">
            <title></title>
            <desc></desc>
            <path stroke="none" fill="#ac7b7d" d="M0,4h32v24h-32z" class="recharts-legend-icon"></path>
        </svg>
        <span class="recharts-legend-item-text" style="color: rgb(172, 123, 125);">Not started</span>
    </li>
    <li class="recharts-legend-item legend-item-2" style="display: inline-block; margin-right: 10px;">
        <svg class="recharts-surface" width="14" height="14" viewBox="0 0 32 32" style="display: inline-block; vertical-align: middle; margin-right: 4px;">
            <title></title>
            <desc></desc>
            <path stroke="none" fill="#a0a0a0" d="M0,4h32v24h-32z" class="recharts-legend-icon"></path>
        </svg>
        <span class="recharts-legend-item-text" style="color: rgb(160, 160, 160);">Stopped</span>
    </li>
    <li class="recharts-legend-item legend-item-3" style="display: inline-block; margin-right: 10px;">
        <svg class="recharts-surface" width="14" height="14" viewBox="0 0 32 32" style="display: inline-block; vertical-align: middle; margin-right: 4px;">
            <title></title>
            <desc></desc>
            <path stroke="none" fill="#96AC7B" d="M0,4h32v24h-32z" class="recharts-legend-icon"></path>
        </svg>
        <span class="recharts-legend-item-text" style="color: rgb(150, 172, 123);">Carbon Budget</span>
    </li>
</ul>